@model IEnumerable<E_Shop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <div class="btn btn-primary">
        <span><i class="glyphicon glyphicon-new-window" aria-hidden="true"></i></span>
        @Html.ActionLink("Create New", "Create")
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
           <img src="@item.Image" alt="@item.ProductName"/>
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Manager"))
            {
               <td>
                <div class="btn btn-primary">
                    <span><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) 
                </div>
                <div class="btn btn-default">
                    <span><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId })
                </div>
                <div class="btn btn-danger">
                    <span><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                </div>
            </td>
            }
        }
    </tr>
}

</table>
